@model UserAccount

<h2>Login</h2>

<div>
    <form asp-action="LoginAction">
        <input asp-for="Username" name="Username" id="Username">
        <input asp-for="Password" name="Password" id="Password">
        <button class="btn btn-success" type="submit">
    </form>
</div>
