<main class="pt-5">
    <div class="container py-5">

        <h2 class="text-center">Profile</h2>
        <div class="row">
            <div class="col">
                <div class="d-flex flex-column align-items-center">
                    <div class="position-relative">
                        <img src="~/img/avatar.jpg" alt="user_profile" class="profile__user">
                        <button class="profile__change"><i class="fas fa-camera"></i></button>
                    </div>
                </div>
            </div>
        </div>

        <form>
            <div class="row mt-5">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">firstname</label>
                        <input class="form-control" type="text" value="*****"  />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Lastname</label>
                        <input class="form-control" type="text" value="*****"  />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label class="form-label">Email Address</label>
                        <input class="form-control" type="text" value="*****"  />
                    </div>

                    <div class="form-group">
                        <label class="form-label">Birth day</label>
                        <input class="form-control" type="date" value="2018-12-13"/>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Password</label>
                        <input class="form-control" type="password"/>
                    </div>
                    <div class="form-group">
                        <label class="form-label">New Password</label>
                        <input class="form-control" type="password" />
                    </div>
                    <div class="form-group">
                        <label class="form-label">Confirm Password</label>
                        <input class="form-control" type="Password"/>
                    </div>
                </div>
            </div>
            <div class="row">
            
            <button class="btn btn-outline-dark ml-auto mr-3 ">Save Change</button>
        </div>
        </form>
    </div>
</main>
